<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- PACK自动线从力神老系统中获取电芯数据，已废弃 -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="uri" value="tcp://172.36.21.112:61613"/>
    <add key="queue" value="lot.sn.download.process"/>
    <add key="uid" value="admin"/>
    <add key="pwd" value="admin"/>
    <add key="webservice_para" value="batch"/>
    <add key="LogPath" value="sevlog\\"/>
    <add key="url" value="http://172.30.3.2:9991/WebService/LoadData/LoadData.asmx"/>
    <add key="op" value="LoadCellList"/>
  </appSettings>
</configuration>
