<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="uri" value="activemq:tcp://172.36.21.112:61616"/>
    <add key="queue" value="ort.batch.sampling.intercept"/>
    <add key="uid" value="admin"/>
    <add key="pwd" value="admin"/>
    <add key="webservice_para" value="jsonStr"/>
    <add key="LogPath" value="sevlog\\"/>
    <add key="url" value="http://172.30.3.2:9991/WebService/Update/Update.asmx"/>
    <add key="op" value="UpdateEDataFromWj1Sap"/>
  </appSettings>
</configuration>
