<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 从 SAP ME同步 HW 数据至回传系统 -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="uri" value="tcp://172.36.21.136:61616"/>
    <add key="queue" value="production.data.send.hw"/>
    <add key="uid" value="admin"/>
    <add key="pwd" value="admin"/>
    <add key="webservice_para" value="json"/>
    <add key="LogPath" value="sevlog\\"/>
    <add key="url" value="http://localhost:2122/WebService/SyncRemote/Recieve.asmx"/>
    <add key="op" value="Recieve_HW_Product"/>
  </appSettings>
</configuration>