<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="LSMES_5ANEW_PLUS" connectionString="data source=172.28.1.11;Initial Catalog=LSMES_5ANEW_PLUS;User Id=sa;Password=as_2015" providerName="System.Data.SqlClient"/>
    <add name="LSMES_5ANEW" connectionString="data source=172.28.1.11;Initial Catalog=LSMES_5ANEW;User Id=sa;Password=as_2015" providerName="System.Data.SqlClient"/>
    <add name="LSMES_PACK" connectionString="data source=172.25.12.99\Lishen;Initial Catalog=LSMES_PACK;User Id=sa;Password=111222" providerName="System.Data.SqlClient"/>
    <add name="SyncRemote" connectionString="data source=172.28.1.14;Initial Catalog=SyncRemote;User Id=sa;Password=" providerName="System.Data.SqlClient"/>
    <add name="PROCESS_DATA" connectionString="data source=172.28.1.11;Initial Catalog=PROCESS_DATA;User Id=sa;Password=as_2015" providerName="System.Data.SqlClient"/>
    <add name="PPI" connectionString="data source=172.28.1.11;Initial Catalog=PPI;User Id=sa;Password=as_2015" providerName="System.Data.SqlClient"/>
    <add name="SAP_ME" connectionString="DSN=SAP_ME;UID=WIP;PWD=wip123456" providerName="Sap.Data.Hana"/>
    <add name="SAP_PACK" connectionString="DSN=SAP_PACK;UID=wip;PWD=wip123456" providerName="Sap.Data.Hana"/>
    <add name="SAP_PACK_TEST" connectionString="DSN=SAP_PACK_TEST;UID=WIP;PWD=wip123" providerName="Sap.Data.Hana"/>
    <add name="SAP_ME_WJ1" connectionString="DSN=SAP_ME_WJ1;UID=wip;PWD=wip123456" providerName="Sap.Data.Hana"/>
    <add name="ORT" connectionString="PORT=5432;Database=ort;Host=172.16.124.47;Password=as_2015;Username=postgres"/>
    <add name="KPK" connectionString="data source=153.37.53.91;Initial Catalog=TYDATA;User Id=sa;Password=as_2015" providerName="System.Data.SqlClient"/>
    <add name="LogPath" connectionString="D:\LSMES_WEB_LOG_5ANEW_PLUS\Log\"/>
    <add name="ExpPath" connectionString="D:\LSMES_WEB_LOG_5ANEW_PLUS\Exception\"/>
    <add name="DebugWriteSql" connectionString="true"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1024000" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="6000000" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="SN" value="BATTERYNO"/>
    <add key="CORE_TYPE_CODE" value="BOMNO"/>
    <add key="OP11_A013" value="E8KVALUE"/>
    <add key="OP11_A016" value="E6LEVEL"/>
    <add key="OP11_A006" value="E6TESTTIME2"/>
    <add key="OP11_A007" value="E6VOLTAGE2"/>
    <add key="OP11_A008" value="E6RESISTANCE2"/>
    <add key="OP11_A011" value="E6DELTAV"/>
    <add key="OP11_A012" value="E6DELTAT"/>
    <add key="OP09_A002" value="E5VOLTAGE1"/>
    <add key="OP09_A003" value="E5RESISTANCE1"/>
    <add key="OP09_A001" value="E5TESTTIME1"/>
    <add key="OP09_A004" value="E5LEVEL"/>
    <add key="STATUS_MESSAGE" value="STATUS"/>
    <!--<add key="ExchangeServerURL" value="https://cas.lishen.com/ews/Exchange.asmx"/>-->
    <add key="ExchangeServerURL" value="https://192.168.100.6/ews/Exchange.asmx"/>
    <add key="ExchangeDomain" value="Lishen.com"/>
    <!--<add key="ExchangeUID" value="mes_notice@lishen.com"/>
    <add key="ExchangePWD" value="Lsmes123"/>-->
    <add key="ExchangeUID" value="MES_administrator@lishen.com"/>
    <add key="ExchangePWD" value="Passw0rd"/>
    <add key="OP07_RESOURCE_NO" value="E13EQUNO"/>
    <add key="OP07_CREATED_DATE_TIME" value="E13ENDTIME"/>
    <add key="OP07_A184" value="E13OUT_CAPACITY2"/>
    <add key="OP07_A199" value="E13END_VOLTAGE"/>
    <add key="OP07_L003" value="E13AREANO"/>
    <add key="OP07_L004" value="E13POSNO"/>
    <add key="OP07_A105" value="E13LEVEL"/>
    <add key="OP07_A107" value="E13START_VOLTAGE"/>
    <add key="E13OUT_CAPACITY2|SP515974SG" value="-60"/>
    <add key="E13OUT_CAPACITY2|SP475778SG" value="40"/>
    <add key="E13OUT_CAPACITY2|SP645180SG" value="-130"/>
    <add key="E13OUT_CAPACITY2|SP485778SH" value="-95"/>
    <add key="E13OUT_CAPACITY2|SP515974SED" value="-175"/>
    <add key="E13OUT_CAPACITY2|SP1163B5SD" value="0"/>
    <add key="E13OUT_CAPACITY2|SP484291SI" value="-95"/>
    <add key="E13OUT_CAPACITY2|SP606072SG" value="-77"/>
    <add key="E13OUT_CAPACITY2|SP4453C2SFC" value="-143"/>
    <add key="E13OUT_CAPACITY2|SP485778SG" value="-105"/>
    <add key="E13OUT_CAPACITY2|SP545974SGD" value="-187"/>
    <add key="E13OUT_CAPACITY2|SP316581SGC" value="-78"/>
    <add key="E13OUT_CAPACITY2|SP316581SG" value="-78"/>
    <add key="E13OUT_CAPACITY2|SP308898SF" value="-170"/>
    <add key="E13OUT_CAPACITY2|SP515974SEF" value="-130"/>
    <add key="OP08_A005" value="E16FLAG"/>
    <add key="OP08_A008" value="E16TESTTIME"/>
    <add key="OP08_A002" value="E16BATTERYWEIGH"/>
    <add key="OP08_L001" value="E16CHANO"/>
    <add key="OP08_A004" value="E16JYLWEIGH"/>
    <add key="getXmlResultForZY_GetParaNew" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="LoadValidData" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="LoadValidDataNew" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="GetOCV_FENDANG" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="GetOCV_FENDANG_Attributes" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="GetFenRong" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="GetIROCV" value="http://192.168.101.178:8000/manufacturing-app/Resource/"/>
    <add key="ZY_GetData" value="http://172.36.21.112:50000/manufacturing-app/Resource/"/>
    <add key="ZY_GetPara" value="http://172.36.21.112:50000/manufacturing-app/Resource/"/>
    <add key="uri" value="activemq:tcp://172.36.21.112:61616/"/>
    <add key="intercept_queue" value="ort.batch.sampling.intercept"/>
    <add key="release_queue" value="ort.batch.sampling.release"/>
    <add key="uid" value="admin"/>
    <add key="pwd" value="admin"/>
    <add key="RearrangeRankStandard" value="true"/>
    <add key="IsSAP" value="true"/>
    <add key="IsMail" value="true"/>
    <add key="MIXING" value="Z_CO_MIXING_INSPECTION"/>
    <add key="COATING" value="Z_CO_COATING_INSPECTION"/>
    <add key="COMPACTION" value="Z_CO_COMPACTION_INSPECTION"/>
    <add key="CUTTING" value="Z_CO_CUTTING_INSPECTION"/>
    <add key="KPK_Performance" value="LSN_PERFORMANCE_DATA"/>
  </appSettings>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>