<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 电芯信息从力神MES导入至 SAP ME 中 -->
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sync_Pack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <Sync_Pack.Properties.Settings>
            <setting name="Sync_Pack_WebReference_CellToSapPack" serializeAs="String">
                <value>http://172.30.3.2:9991/WebService/DataTransfer/CellToSapPack.asmx</value>
            </setting>
        </Sync_Pack.Properties.Settings>
    </applicationSettings>
</configuration>
